---
import Section from "../primitives/Section.astro"
---

<Section title="Hackathon" bgImage="/hackathon.png">
  <p class="text-lg font-mono max-w-2xl mx-auto text-center z-10">
    We start off the year of Boating Accident with a hackathon before the main event!
  </p>
</Section>
