---
import Section from "../primitives/Section.astro"
import Heading from "./Heading.astro"
---

<Section title="Newsletter">
  <div class="mx-auto max-w-6xl px-6 lg:px-8">
    <div class="text-center">
      <Heading level={2} size="3xl" class="sm:text-4xl">Sign Up for Communications</Heading>
    </div>

    <div class="mt-10 flex flex-col sm:flex-row gap-4 justify-center items-center max-w-md mx-auto">
      <iframe
        src="https://d3c32627.sibforms.com/serve/MUIFABV2cDFp5d7hVWlhhUUk7OR1frJEYIEIcgoVxj8xvsUVnpynlTCRyhLQUISDXK8AO4-qOrfqYtOhw1dhGj58E5facBASgSeFqWpNDpKf6ohZqFNP_sOW3OMRYAOGY8cPGTM4aSkC9HKh-ww6ru2RqruwsI1d76fSO0ds75f9BGBo8edJH8qWxvbgKE_UO19_KiFQP6iXDTaxbA=="
        allowfullscreen
        title="Signup Form"
        seamless="seamless"
        scrolling="no"
        class="w-full flex h-96 overflow-y-hidden"></iframe>
    </div>
  </div>
</Section>
