---
import Heading from "./Heading.astro"
---

<!-- Sponsors Section -->
<section id="sponsors" class="py-16 lg:py-24 bg-accent text-background col-span-5">
  <div class="mx-auto max-w-6xl px-6 lg:px-8">
    <div class="text-center">
      <Heading level={2} size="3xl" class="sm:text-4xl">Sponsors</Heading>
    </div>
    <div class="mt-16">
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 items-center justify-items-center">
        <a
          class="flex items-center justify-center p-6 h-24 w-48"
          href="https://equilibrium.co"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/equilibrium.svg"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
        <a
          class="flex items-center justify-center p-6 h-24 w-48"
          href="https://valos.io"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/valos-logo-black-rgb.svg"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
        <a
          class="flex items-center justify-center p-6 h-24 w-48"
          href="https://thehedgehog.io/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/hedgehog.svg"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
        <a
          class="flex items-center justify-center p-6 h-24 w-48"
          href="https://scauditstudio.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/scaudit.png"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
        <a
          href="https://equilibrium.co/ventures"
          class="flex items-center justify-center p-6 h-24 w-48"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/logos/eqv.jpeg" alt="Sponsor" class="max-h-full max-w-full object-contain" />
        </a>
        <a
          href="https://naantali.fi/"
          class="flex items-center justify-center p-6 h-24 w-48"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/naantali.svg"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
        <a
          href="https://businessturku.fi/"
          class="flex items-center justify-center p-6 h-24 w-48"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/logos/businessturku.png"
            alt="Sponsor"
            class="max-h-full max-w-full object-contain"
          />
        </a>
      </div>
    </div>
  </div>
</section>
