---
import Layout from "../components/Layout.astro"
import Heading from "../components/sections/Heading.astro"
---

<Layout title="About the Voyage - Boating Accident" currentPage="about">
  <!-- Header -->
  <section class="bg-background-alt text-white py-16 border-b border-gray-700 col-span-5">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div class="text-left">
        <Heading level={1} size="4xl" class="sm:text-5xl lg:text-6xl"> About </Heading>
        <p class="mt-6 max-w-2xl text-lg leading-8 text-gray-400 font-mono">
          Conference Information
        </p>
      </div>
    </div>
  </section>

  <!-- About Content -->
  <section class="py-16 lg:py-24 col-span-5">
    <div class="mx-auto max-w-6xl px-6 lg:px-8">
      <div class="space-y-16">
        <!-- Mission -->
        <article class="max-w-2xl mx-auto text-left">
          <Heading level={2} size="3xl" class="mb-6 text-white">The story</Heading>
          <p class="text-lg text-gray-400 mb-4 font-mono">
            Hi! It's Tuomas Pigg and Jani Anttonen here! We're both crypto industry professionals
            who have both worked and networked broadly in the Finnish crypto ecosystem, been making
            a podcast for a while now, and now we're apparently event organizers too.
          </p>
          <p class="text-lg text-gray-400 mb-4 font-mono">
            We had been toying the idea of organizing crypto and blockchain related events in our
            hometown Turku for a while now. Back in 2021 or so there was a lot of stuff happening in
            Finland in terms of meetups, events and conferences, but we've seen some reduction in
            the frequence and energy of the events happening since.
          </p>
          <p class="text-lg text-gray-400 font-mono">
            We decided to change things up. But not just a meetup, not just *a conference*, but
            something bigger. We went totally wild and booked a whole cruise ship. Things just took
            off. We welcome you from all around the world to attend our conference in May 2026,
            whether you're industry professionals, just starting in crypto or institutional
            investors, bankers etc. Just make sure you don't lose your keys in a boating accident!
          </p>
        </article>

        <!-- Location -->
        <article class="max-w-2xl mx-auto text-left">
          <Heading level={2} size="3xl" class="mb-6">The Venue</Heading>
          <p class="text-lg text-gray-400 font-mono">
            We're going to start the conference in a medieval castle, head off to picturesque
            Naantali for a cruise through one of the most sprawling archipelagos in the world, and
            finish off with an afterparty in Naantali's Kaivohuone right on the water.
          </p>
        </article>
      </div>
    </div>
  </section>
</Layout>
